

.main-page {
  background-color: #100c0c;
  box-sizing: border-box;
  overflow: hidden;
}

.main-page-head {
  height: 815px;
  position: relative;
}

.main-page-head img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.main-page .main-page-head .head-title {
  max-width: 403px;
  width: 100%;
  position: absolute;
  top: 275px;
  left: 320px;
}

.main-page-head::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 411px;
  height: 2px;
  background-color: #831516;
}

.head-title h1 {
  color: #efefef;
  font-family: "Oswald";
  font-size: 36px;
  font-weight: 500;
  line-height: 45px;
  text-transform: uppercase;
  letter-spacing: 0.68px;
  margin-bottom: 19px;
}

.subtitle {
  color: #efefef;
  font-family: "Oswald";
  font-size: 30px;
  font-weight: 300;
  line-height: 45px;
  letter-spacing: 0.6px;
}