/* @font-face {
    font-family: "Lato";
    src: url('/src/app/ui/Lato/Lato-Medium.ttf') format('truetype');
} */
.bottom {
    padding-bottom: 93px;
    z-index: 100;
    position: relative;
    border-bottom: 1px solid #1c1c1c;
}
.contacts-form form {
    position: relative;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
}
.contacts-form .title {
    color: #f6f6f6;
    font-family: "Lato";
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 41px;
    text-align: center;
    width: 100%;
}
.contacts-form .form-left {
    width: 100%;
    max-width: 390px;
    margin-right: 20px;
}
.contacts-form input[type="text"], .contacts-form input[type="tel"] {
    height: 61px;
    border-radius: 3px;
    background-color: rgba(255,255,255,0.03);
    border: 1px solid rgba(255,255,255,0.15);
    width: 100%;
    margin-bottom: 20px;
    padding: 0 25px;
    color: rgba(239,239,239,0.5);
    font-family: "Lato";
    font-size: 16px;
    font-weight: 400;
}
.contacts-form input[type="text"]:focus, .contacts-form input[type="tel"]:focus {
    background-color: rgba(255,255,255,0.15);
    border: 0px;
}

.contacts-form input[type="text"]:focus-visible, .contacts-form input[type="tel"]:focus-visible {
    border: none
}
.contacts-form .form-right {
    width: 100%;
    max-width: 390px;
}

.contacts-form textarea {
    width: 100%;
    height: 223px;
    border-radius: 3px;
    border: 1px solid rgba(255,255,255,0.15);
    background-color: rgba(255,255,255,0.03);
    resize: none;
    padding: 25px;
    color: rgba(239,239,239,0.5);
    font-family: "Lato";
    font-size: 16px;
    font-weight: 400;
}
.contacts-form textarea:focus {
    background-color: rgba(255,255,255,0.15);
    border: 0px;
}

.contacts-form .submit-button {
    width: 275px;
    height: 49px;
    margin: 40px auto;
    position: relative;
}
.contacts-form form input[type="submit"] {
    width: 100%;
    height: 49px;
    border-radius: 25px;
    border: 1px solid rgba(255,255,255,0.15);
    color: rgba(239,239,239,0.5);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.75px;
    background-color: transparent;
}
.contacts-form form input[type="submit"]:hover {
    box-shadow: 0 4px 18px 4px rgba(186, 9, 21, 0.5);
    background-color: #e20614;
    border-color: #e20614;
    color: #ffffff;
}
.contacts-form form input[type="submit"]:hover {
    animation: btnAnim 1s infinite;
}

@keyframes btnAnim {
    0% {
        background-color: rgba(255,255,255,0.03);
        border: 1px solid rgba(255,255,255,0.15);
    }
    100% {
        box-shadow: 0 4px 18px 4px rgba(186, 9, 21, 0.5);
        background-color: #e20614;
        color: #ffffff;
        border-color: #e20614;
    }
}