@media (max-width: 1299px) {
    .single-page-bottom .contacts-form::before {
        opacity: 0.3;
    }
}

@media (max-width: 1250px) {
    .single-page .single-page-body .single-page-item {
        flex-direction: column;
        align-items: center;
    }

    .single-page .single-page-body .right-block {
        max-width: none;
        margin-top: 25px;
    }
}

@media (max-width: 1200px) {
    .single-page .single-page-head-bg img {
        height: 500px;
    }

    .app {
        margin-bottom: 150px;
    }
}


@media (max-width: 991px) {
    .single-page-bottom .contacts-form::before {
        opacity: 0;
    }

    .single-page .single-page-head-bg img {
        height: 400px;
    }

    .app {
        margin-bottom: 100px;
    }
}

@media (max-width: 890px) {
    .app-bg {
        padding: 15px 15px;
    }
    .mobileapp-slider .swiper-button-prev {
        margin-left: -15px;
    }
    .mobileapp-slider .swiper-button-next {
        margin-right: -15px;
    }

    .app .slide-item {
        padding: 0px 50px;
    }
}


@media (max-width: 767px) {
    .single-page .single-page-head-bg img {
        height: 350px;
    }

    .single-page .single-page-bottom {
        padding-top: 40px;
    }

    .Vertical2 {
        display: none;
    }

    .single-page .single-page-body .left-block {
        margin-right: 0px;
        flex-direction: column;
        height: auto;
    }

    .Vertical1 {
        width: 100%;
        padding: 0px;
    }

    .Vertical1 .swiper-slide {
        padding: 20px 0px;
    }

    .Vertical32 {
        display: flex;
    }

    .app {
        margin-bottom: 40px;
    }

    .single-page .single-page-bottom {
        padding-top: 40px;
    }
}

@media (max-width: 575px) {
    .single-page .single-page-head-bg img {
        height: 250px;
    }

    .single-page .single-page-body h2 {
        font-size: 28px;
        line-height: 23px;
    }

    .app h3 {
        font-size: 28px;
        margin-bottom: 25px;
    }

    .single-page .single-page-bottom {
        padding-top: 25px;
    }

    .app {
        margin-bottom: 25px;
    }

    .app-bg {
        min-height: 360px;
        height: auto;
    }

    .app .slide-item {
        flex-direction: column;
    }

    .app .slide-item .title:before {
        display: none;
    }

    .app .slide-item .slide-content, .app .slide-item .slide-picture {
        width:100%;
    }

    .app .slide-item .title {
        text-align: center;
        padding-bottom: 0;
    }
    
    .app .slide-item .description {
        margin-right: 0;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }

    .app .slide-item .slide-picture img {
        height: 100%;
    }

    .mobileapp-slider .swiper-slide {
        height:100%;
    }

    .app .slide-item .description p {
        text-align: center;
    }
    
}